@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #a0c6f1;
}

header {
    background-image: linear-gradient(to top, rgba(250, 250, 250, 0.877), #00295e);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

span#burguer {
    background-color: #00295e;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #005eda;
    color: #edf5ff;
}

menu {
    display: none;
}
menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(13, 33, 77);
    color: white;
    border-top: 2px solid rgb(100, 129, 173);
}

menu > ul > li > a:hover {
    background-color: rgb(117, 151, 189);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}