@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #79DCF2, #72C1F2, #025959  );
}

main{

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #47301a9c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #593A1E;
    text-align: center;
}

h2{
   color: #8C593B;
   text-shadow: 1px 1px 2px #613e2aa8;
}

p{
    text-align: justify;
}